/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Reset margin and padding */
p, h1, h2, div {
    padding: 0;
    margin: 0;
}

/* General Styles */
body {
    background-color: #F5F3F4;
}

h1 {
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin: 1vw;
}

h2 {
    font-size: 2.2vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p {
    font-size: 1.3vw;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding: 0.5vw;
}

button { 
    font-size: 1.3vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

table, td, th {
    font-size: 1.3vw;
    border: 0.1vw solid black;
    border-collapse: collapse;
    padding: 0.5vw;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-grow-cross {
    align-self: stretch;
}

.flex-right-justify {
    align-self: flex-end;
}

.bordered {
    border: 0.1vw solid black;
    border-radius: 0.3vw;
}

.margin-small {
    margin: 1vw;
}

.margin-medium {
    margin: 3vw;
}

.padding-small {
    padding: 1.5vw;
}

.standard-button {
    background-color: #D3D3D3;
    border: none;
    border-radius: 0.3vw;
    padding: 0.3vw 0.7vw;
    transition: background-color 0.3s ease;
}

.standard-button:hover {
    background-color: #AAAAAA;
}

.invisible-button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Styles for input screen */
#input-screen-wrapper {
    width: 60vw;
}

#team-1-column, #team-2-column {
    width: 30vw;
}

#team-wrapper {
    margin: 1vw;
    padding: 0.5vw 0 0.5vw 0;
    width: 18vw;
}

#team-list-1, #team-list-2 {
    margin: 0;
    width: 80%;
    max-height: 40vh;
    overflow-y: auto;
}

#team-list-1 button, #team-list-2 button{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin: 0.5vw;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5vw;
    border-radius: 0.5vw;
    max-width: 40vw;
}

.modal-content form {
    padding-top: 0.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content label {
    margin-bottom: 0.5vw;
}

.modal-content input {
    width: 100%;
    padding: 0.5vw;
    border-radius: 0.3vw;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

#modal-button-wrapper {
    width: 25vw;
}
